body {
  font-family: sans-serif;
  background-color: #fff;
  margin-top: 50px;
}

.contenedor {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.formulario {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
  box-sizing: border-box;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 30px;
  box-sizing: border-box;
}

input[type="password"] {
  margin-bottom: 20px;
}

.inicio_sesion button,
.google-login button {
  width: 100%;
  font-size: 15px;
  font-weight: bold;
  padding: 8px;
  border-radius: 30px;
  cursor: pointer;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.inicio_sesion button:hover,
.google-login button:hover {
  background-color: #7287e1;
}

.icono-google {
  background: url('/Icons/Google.png') no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 8px;
}

.opciones {
  text-align: center;
  padding: 20px 0;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p.correo,
p.pass {
  color: #000;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: left;
}

/* Estilos para pantallas pequeñas (hasta 600px) */
@media (max-width: 600px) {
  .contenedor {
    flex-direction: column; /* Cambia a una disposición de columna en pantallas pequeñas */
  }

  .img {
    display: none; /* Oculta la imagen en pantallas pequeñas */
  }

  .formulario {
    padding: 10px; /* Ajusta el relleno para pantallas pequeñas */
  }

  input, input[type="password"] {
    margin-bottom: 15px; /* Ajusta los márgenes de los campos de entrada */
  }

  .inicio_sesion button,
  .google-login button {
    width: 100%; /* Ocupa el 100% del ancho en pantallas pequeñas */
  }
}

/* Estilos para pantallas medianas (de 601px a 768px) */
@media (min-width: 601px) and (max-width: 768px) {
  /* Agrega estilos específicos para pantallas medianas según sea necesario */
}

/* Estilos para pantallas más grandes (de 769px en adelante) */
@media (min-width: 769px) {
  /* Agrega estilos específicos para pantallas más grandes según sea necesario */
}

