body {
  font-family: sans-serif;
  background-color: #fff;
  margin-top: 50px;
}

.contenedor {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.formulario {
  width: 100%;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
}

input {
  width: calc(100% - 20px);
  max-width: 310px; /* Tamaño máximo de 310px */
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 30px;
  box-sizing: border-box;
}

input[type="password"] {
  margin-bottom: 20px;
}

.inicio_sesion button,
.google-login button {
  width: 100%;
  max-width: 310px; /* Tamaño máximo de 310px */
  font-size: 15px;
  font-weight: bold;
  padding: 8px;
  border-radius: 30px;
  cursor: pointer;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.inicio_sesion button:hover,
.google-login button:hover {
  background-color: #7287e1;
}

.icono-google {
  background: url('/Icons/Google.png') no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 8px;
}

.opciones {
  text-align: center;
  padding: 20px 0;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p.correo,
p.pass {
  color: #000;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: left;
}


#login_form {
  width: 100%; /* Ajusta el ancho al 100% del contenedor */
  max-width: 800px; /* Puedes ajustar el ancho máximo según tus necesidades */
  margin: 0 auto;
}

/* Estilos para pantallas pequeñas (hasta 600px) */
@media (max-width: 420px) {
  .contenedor {
    flex-direction: column;
  }

  .formulario {
    padding: 10px;
  }

  .seccion-login h2 {
    font-size: 18px;
  }

  .seccion-login p {
    font-size: 12px;
  }

  input, input[type="password"] {
    margin-bottom: 10px;
    width: 100%;
    max-width: none; /* Elimina el tamaño máximo para pantallas pequeñas */
  }

  .inicio_sesion button,
  .google-login button {
    width: 100%;
    max-width: none; /* Elimina el tamaño máximo para pantallas pequeñas */
  }
}
/* Media Queries para pantallas medianas (601px a 768px) */

@media (min-width: 421px) and (max-width: 500px){
  .formulario {
    padding: 40px;
  }

  input,
  input[type="password"] {
    width: calc(70% - 20px);
    max-width: 310px;
    margin-bottom: 25px;
  }

  .inicio_sesion button,
  .google-login button {
    width: 100%; /* Cambiado a 100% para que coincida con los campos de entrada */
    max-width: 310px;
    margin-bottom: 40px;
  }

  p.correo,
  p.pass {
    text-align: left;
    margin-bottom: 20px;
    margin-left: 100px;
  }
}

/* Media Queries para pantallas grandes (769px en adelante) */
@media (min-width: 800px) {
  .formulario {
    padding: 40px;
  }

  input,
  input[type="password"] {
    width: calc(70% - 20px);
    max-width: 310px;
    margin-bottom: 25px;
  }

  .inicio_sesion button,
  .google-login button {
    width: 100%; /* Cambiado a 100% para que coincida con los campos de entrada */
    max-width: 310px;
    margin-bottom: 40px;
  }

  p.correo,
  p.pass {
    text-align: left;
    margin-bottom: 20px;
    margin-left: 200px;
  }
}
