:root {
  --max-width: 310px;
  --button-width: 100%;
  --button-max-width: var(--max-width);
  --input-width: calc(100% - 20px);
}

body {
  font-family: sans-serif;
  background-color: #fff;
  margin-top: 50px;
}

.contenedor {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  margin-top: 100px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.formulario {

  padding: 20px;
  text-align: center;
  box-sizing: border-box;
}

input {
  width: var(--input-width);
  max-width: var(--max-width);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 30px;
  box-sizing: border-box;
}

input[type="password"] {
  margin-bottom: 20px;
}

.inicio_sesion button,
.google-login button {
  width: var(--button-width);
  max-width: var(--button-max-width);
  font-size: 15px;
  font-weight: bold;
  padding: 8px;
  border-radius: 30px;
  cursor: pointer;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.inicio_sesion button:hover,
.google-login button:hover {
  background-color: #7287e1;
}

.icono-google {
  background: url('/Icons/Google.png') no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 8px;
}

.opciones {
  text-align: center;
  padding: 20px 0;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p.correo,
p.pass {
  color: #000;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: left;
}

#login_form {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

/* Estilos para pantallas pequeñas (hasta 600px) */
@media (max-width: 420px) {
  .contenedor {
    flex-direction: column;
  }

  .formulario {
    padding: 10px;
  }

  .seccion-login h2,
  .seccion-login p {
    font-size: 12px;
  }

  input, input[type="password"] {
    margin-bottom: 10px;
    width: 100%;
    max-width: none; /* Elimina el tamaño máximo para pantallas pequeñas */
  }

  .inicio_sesion button,
  .google-login button {
    width: 100%;
    max-width: none; /* Elimina el tamaño máximo para pantallas pequeñas */
  }
  
}

/* Media Queries para pantallas muy grandes (800px en adelante) */
@media (min-width: 800px) {
  p.correo,
  p.pass {
    margin-left: 15px;
  }
}
