.contenido-pagina {
    text-align: center;
    margin-top: 50px;
  }
  
  .whatsapp-btn {
    background-color: #25D366;  /* Color verde de WhatsApp */
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .whatsapp-btn:hover {
    background-color: #128C7E;  /* Cambia el color al pasar el ratón por encima */
  }
  