.navbar {
  width: 220px;
  background-color: #0043A8;
  color: white;
  height: 100vh;
  grid-column: 1;

}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar li {
  margin: 15px;
}

li a {
  text-decoration: none;
  color: white;
}

li a:hover {

  color: rgb(247, 214, 79);
}
.navbarItems {
  padding: 15px;
}

svg {
  max-width: 15px;
  max-height: 15px;
}

.navbarItems svg {
  margin-right: 10px;
}

.navbar-logo-link {
  padding: 15px;
  font-size: 20px; /* Tamaño del texto del logo */

}
.navbar-logo{
  font-weight: bold; /* Negrita */
  text-decoration: none;
  color: white;
}

.navbar-logo:hover {
  color: #FFD700; /* Cambia el color al pasar el mouse sobre el logo */
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-item svg {
  margin-right: 10px;
  max-width: 15px;
  max-height: 15px;
}

.navbar-nav li {
  padding: 10px;
  border-bottom: 1px solid #0043A8;
}



.navbar-nav li:last-child {
  border-bottom: none;
}

.navbar-link {
  text-decoration: none;
  color: white;
}

.contenedor-principal {
  display: grid;
  grid-template-columns: 230px 1fr; /* Dos columnas, una de 250px para el navbar y otra que ocupa el resto del espacio */
  gap: 10px; /* Espacio entre las columnas */
}

