.wrapper {
    display: flex;
  }
  
  .sidebar {
    width: 250px;
    background-color: #0043A8;
    color: white;
    height: 100vh;
  }
  
  .sidebar-logo {
    padding: 15px;
  }
  
  .sidebar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar-nav li {
    padding: 10px;
    border-bottom: 1px solid #0043A8;
  }
  
  .sidebar-nav li:last-child {
    border-bottom: none;
  }
  
  .sidebar-link {
    text-decoration: none;
    color: white;
  }
  
  .hidden {
    visibility: hidden;
    position: absolute;
    left: -9999px;
  }